* {
    color: #fff;
}

body {
    background-image: url(image/bg.png);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background: #333333;
    /* height: 461px; */
    border-top: #DCCC01 solid 10px;
}

footer ul {
    list-style: none;
    text-transform: capitalize;
}

footer ul li a {
    color: #BBBBBB;
}

h1 {
    background-image: url(image/heading_shape_blue.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    /* height: 20rem; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #464646;
    border: 1px #707070 solid
}

.card-text,
.badge-primary {
    color: #DCCC01;
}

.card-text-product {
    color: #1CBFBC;
}

.card img {
    width: 100%;
    height: 100%;
}

.inner-card {
    background-color: #707070;
}

.card .btn,
.profile-information .btn,
.btn-outline-warning,
.artwork-submit,
.btn-outline-primary {
    width: 100%;
    border-radius: 25px !important;
    font-weight: bold;
}

.card-price strong {
    color: #1CBFBC;
}

.card-price p {
    display: inline;
    font-size: 14px;
    margin-left: 1rem;
}

.card-price p input {
    background-color: #333232;
    width: 64px;
    height: 25px;
    border: none;
    margin-left: 5px;
    padding: 10px;
}

/* your cart */
.price-details {
    text-transform: uppercase;
    font-weight: lighter;
    border-bottom: #DCCC01 solid 1px;
    padding-bottom: 1rem;
}

.subtotal {
    background-color: #fff;
    color: #0078CC;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

.btn-square {
    border-radius: 0px !important;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    font-weight: bold;
}

.input-square {
    border-radius: 0px !important;
}

/* end your cart */
/* user profile */
.profile-information input {
    border-radius: 15px;
    border: solid 1px #F1F1F1;
}

.input-group-text {
    background-color: #fff;
    color: black;
    border: none;
}

/* user profile */
.banner {
    width: 100%;
    box-shadow: inset 0 0 99999px rgb(220, 204, 1, 0.4);
    background-image: url(image/banner.png);
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.div-skew {
    position: relative;
    margin-top: 15rem;
    height: 10rem;
}

.div-skew img {
    position: relative;
    top: -10rem;
}

.div-skew::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    top: -25px;
    left: 0;
    z-index: -1;
    background: #0d6efd;
    transform: skew(0deg, -5deg);
}

.btn-outline-warning,
.btn-outline-primary {
    width: 20rem;
}

.btn-outline-warning {
    border: #DCCC01 solid 2px;
}
.btn-outline-primary{    
    border: #0d6efd solid 2px
}
.artwork-submit {
    width: 90%
}
/* radio button  */
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #1CBFBC;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #1CBFBC;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #DCCC01;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #1CBFBC;
}
/* radio button end */
.social-btn .btn {
    border-radius: 0 !important;
    width: 70px;
    font-size: 5px;
}

.triangle-flip{
    transform: rotate(180deg);
    margin-left:5px ;
}
.like-price{
    color: #1090F2;
    font-weight: bolder;
    font-size: 35px;
}

/* index page */
.clip-slider {
    clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 0% 100%);
}

.clip-slider::after {
    position: relative;
    content: '';
    z-index: 2;
    background: #0078CC;
    height: 10px;
    transform: skew(0deg, -8deg);
    bottom: 2rem
}

.heading-with-lowerdash::after {
    content: '';
    width: 15%;
    background-color: #DCCC01;
    height: 5px;
    margin: 0.5rem auto;
    border-radius: 2rem;
    display: block;

}

.crazy-image-holder::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: -1;
    background: #DCCC01;
    transform: skew(0deg, 8deg);
}

.crazy-image-holder::after {
    content: '';
    position: absolute;
    left: 20%;
    width: 16rem;
    height: 9rem;
    z-index: -1;
    background: #0d6efd;
    transform: rotate(-8deg);
}

.crazy-image-holder {
    margin-bottom: 5rem;
}

/* index page end */
.trending-blue .trending-news-list img {
    width: 100%;
    transform: rotate(-10deg);
    margin: 0 auto;
}

.trending-blue .trending-news-list::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 100px;
    z-index: -1;
    background: #0d6efd;
}

.trending-blue .trending-news-list-text {
    position: relative;
    top: 1.5rem
}

.trending-blue .trending-news-list-text::after {    
        left: 12rem;
        content: '';
        position: absolute;
        width: 2rem;
        height: 100%;
        z-index: -1;
        background: #0d6efd;
        overflow: hidden;
        top: 0rem;
        margin: 0;
        left: 11rem;
}




.trending-yellow .trending-news-list img {
    width: 100%;
    transform: rotate(10deg);
    margin: 0 auto;
}

.trending-yellow .trending-news-list::before {
    content: '';
    position: absolute;
    width: inherit;
    height: 100px;
    z-index: -1;
    background: #DCCC01;
}

.trending-yellow .trending-news-list-text {
    position: relative;
    top: 1.5rem;
    background-color:#DCCC01;
    color: black;
}

.trending-yellow .trending-news-list-text::after {
    left: 12rem;
    content: '';
    position: absolute;
    width: 2rem;
    height: 100%;
    z-index: -1;
    background: #DCCC01;
    overflow: hidden;
    top: 0rem;
    margin: 0;
    left: 11rem;
}
.event-schedule-list{
    position: relative;
    height: 6rem;
    bottom: 6rem;
    left: 2.5rem;
}
.event-schedule-list-text{
    height: 5rem;
}